.lead__title {
  max-width: 793px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin: 90px 0 32px;
}

@media (max-width: 820px) and (min-width: 650px) {
  .lead__title {
    margin: 90px 24px 99px;
  }
}

@media (max-width: 649px) and (min-width: 319px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin: 50px 16px 60px;
  }
}
