.place__frame {
  margin: 0px;
  grid-area: button;
  width: 355px;
  height: 48px;
  background-color: #0278fe;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.place__frame a {
  text-decoration: none;
  color: #ffffff;
}

@media screen {
  .place__frame:hover {
    background-color: #0063d2;
  }
}

@media (max-width: 649px) and (min-width: 319px) {
  .place__frame {
    margin: 0 auto 50px;
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
