.intro__title {
  padding-top: 92px;
  margin: 0px 0px 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media (max-width: 820px) and (min-width: 650px) {
  .intro__title {
    padding-top: 88px;
  }
}

@media (max-width: 649px) and (min-width: 319px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    padding-top: 44px;
  }
}
